{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}
MagBolsas - Inscrição para Bolsa de Estudos
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Banner Full Width -->
    <div class="row m-0">
    <div class="banner-full" style="background-image: url('{% static 'img/banner.png' %}'); background-size: cover; height: 400px; width: 100%;">
    </div>
</div>

    <!-- Main Section with Form -->
    <div class="row m-0 bg-custom" style="font-weight: bold;">
        <div class="col-lg-4 d-none d-lg-flex align-items-center justify-content-center p-0">
            <img src="{% static 'img/bannerlateral.png' %}" alt="Banner" class="img-fluid w-100">
        </div>
        <div class="col-lg-8 p-4">
            <p class="h1 mb-5 mt-5 text-center">
                <span style="color: #1a4aa0; font-size: 80px; font-family: 'Segoe UI Black'">Processo Seletivo</span>
                <span style="color: #00a4e1;">2025</span>
            </p>
            <div class=" mb-5 fs-5">
                <p>Inscrições até 20 de setembro 2024</p>
                <p>Data da prova:</p>
                <ul>
                    <li>
                        3º ano do Ensino Fundamental até a 3º ano do Ensino Médio
                        <p>Dia 22 de setembro de 2024 a partir das 08:30</p>
                    </li>
                    <li>
                        Educação Infantil, do 1º e 2º ano do Ensino Fundamental
                        <p> Dia 23 de setembro de 2024 a partir das 9h30 </p>
                    </li>
                </ul>
                <p>Local de aplicação Instituto Magister - Primavera</p>
            </div>

            <form method="post">
                {% csrf_token %}

                <!-- Nome Completo -->
                <div class="mb-3">
                    <label for="nomeCompleto" class="form-label">Nome completo do estudante*</label>
                    {{ form.nome_completo|add_class:"form-control" }}
                </div>

                <!-- Nome do Responsável -->
                <div class="mb-3">
                    <label for="nomeResponsavel" class="form-label">Nome do responsável*</label>
                    {{ form.nome_responsavel|add_class:"form-control" }}
                </div>

                <!-- CPF -->
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF*</label>
                    {{ form.cpf|add_class:"form-control" }}
                </div>

                <!-- Data de Nascimento -->
                <div class="mb-3">
                    <label for="dataNascimento" class="form-label">Data de Nascimento*</label>
                    {{ form.data_nascimento|add_class:"form-control" }}
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email*</label>
                    {{ form.email|add_class:"form-control" }}
                </div>

                <!-- Endereço -->
                <div class="mb-3">
                    <label for="endereco" class="form-label">Endereço completo</label>
                    {{ form.endereco|add_class:"form-control" }}
                    <style>
                        #id_endereco {
                            height: 60px; /* Define a altura desejada em pixels */
                        }
                    </style>
                </div>

                <!-- Cidade -->
                <div class="mb-3">
                    <label for="cidade" class="form-label">Cidade*</label>
                    {{ form.cidade|add_class:"form-control" }}
                </div>

                <!-- UF -->
                <div class="mb-3">
                    <label for="uf" class="form-label">UF*</label>
                    {{ form.uf|add_class:"form-select" }}
                </div>

                <!-- Telefone -->
                <div class="mb-3">
                    <label for="telefone" class="form-label">DDD+Telefone para contato* (Apenas números)</label>
                    {{ form.telefone|add_class:"form-control" }}
                </div>

                <!-- Irmãos -->
                <div class="mb-3">
                    <label class="form-label">Quantos irmãos o candidato tem?</label>
                    {{ form.irmaos|add_class:"form-select" }}
                </div>

                <!-- Unidade -->
                <div class="mb-3">
                    <label for="unidade" class="form-label">Qual unidade deseja estudar?</label>
                    {{ form.unidade|add_class:"form-select" }}
                </div>

                <!-- Nível -->
                <div class="mb-3">
                    <label for="nivel" class="form-label">Qual série deseja estudar?</label>
                    {{ form.nivel|add_class:"form-select" }}
                </div>

                <!-- Escola -->
                <div class="mb-3">
                    <label for="escola" class="form-label"> Escola que estuda atualmente*</label>
                    {{ form.escola|add_class:"form-control" }}
                </div>

                <!-- Como soube do processo seletivo -->
                <div class="mb-3">
                    <label for="selecao" class="form-label">Como soube do processo seletivo?</label>
                    {{ form.selecao|add_class:"form-select" }}
                </div>

                <!-- Confirmação -->
                <div class="mb-3 form-check">
                    {{ form.confirmacao|add_class:"form-check-input" }}
                    <label for="{{ form.confirmacao.id_for_label }}" class="form-check-label">
                        Eu confirmo que as informações fornecidas estão corretas
                    </label>
                </div>

                <!-- Botão de Enviar -->
                <button type="submit" class="btn btn-success mb-5">Enviar</button>
            </form>
        </div>
    </div>

    <!-- Video Section -->
    <div class="row m-0 my-5">
        <div class="col-md-6 d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/l9KwN5zsviQ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
</iframe>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <h1><i class="bi bi-reply-all-fill me-3" style="color: #fcdb47; font-size: 5rem;"></i></h1>
            <p>
                <span style="color: #4877ca; font-size: 35px; font-family: 'Segoe UI Black'">Conheça o</span>
                <span style="color: #1a4aa0; font-size: 45px; font-family: 'Segoe UI Black'">Instituto Magister de Ensino</span>
            </p>
        </div>
    </div>
</div>
{% endblock %}
